<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <meta charset="UTF-8">
    <title>Max is Gay</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{{ body }}}
</body>
</html>